.row {
  margin: 0px; }

body {
  font-family: 'Cabin', sans-serif;
  color: #2c3e50; }
  body header {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px; }
    body header .group .logo {
      display: inline-block;
      position: relative;
      padding-left: 0px; }
      body header .group .logo .logoName img {
        float: left;
        height: 100px; }
      body header .group .logo .logoName h1 {
        margin: 0px;
        font-size: 1.5em;
        color: #fff;
        position: absolute;
        top: 28%;
        left: 100px; }
      body header .group .logo .logoName h2 {
        margin: 0px;
        font-size: 1.5em;
        font-weight: normal;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 100px; }
      @media (max-width: 992px) {
        body header .group .logo .logoName {
          width: 100%;
          text-align: center; } }
      body header .group .logo .logoName:hover h1, body header .group .logo .logoName:hover h2 {
        color: #1E81B4; }
    body header .group .navBar {
      text-align: right;
      font-size: 1.3em;
      position: relative; }
      body header .group .navBar .menuNav {
        font-size: 2em;
        list-style-type: none;
        position: absolute;
        top: 22px;
        right: 10px;
        padding-left: 0px; }
        @media (max-width: 767px) {
          body header .group .navBar .menuNav {
            position: relative;
            top: 0px;
            text-align: center; } }
        body header .group .navBar .menuNav .menuItem {
          display: inline-block;
          text-align: center; }
          body header .group .navBar .menuNav .menuItem a {
            color: #1E81B4; }
          body header .group .navBar .menuNav .menuItem a:hover {
            color: white; }
  body .intro {
    text-align: center;
    background-color: #EEE;
    padding: 10px 10px 30px 10px; }
    body .intro h1 {
      font-size: 3em;
      font-weight: bold;
      margin-top: 30px; }
      @media (max-width: 600px) {
        body .intro h1 {
          font-size: 2em; } }
    body .intro h2 {
      max-width: 630px;
      margin: 0 auto;
      font-size: 1.6em;
      margin-bottom: 30px; }
      @media (max-width: 600px) {
        body .intro h2 {
          font-size: 1.2em; } }
    body .intro a {
      color: #fff;
      font-size: 1.5em;
      font-weight: normal;
      text-decoration: none; }
      body .intro a button {
        transition: all 0.3s ease-in;
        background-color: #1E81B4;
        border: 1px solid #1E81B4;
        margin-bottom: 10px;
        padding: 15px; }
        body .intro a button span {
          margin-left: 20px; }
      body .intro a button:hover {
        transition: all 0.3s ease-in;
        background-color: #2c3e50;
        border: 1px solid #2c3e50; }
  body .wrapper h2 {
    margin-left: 10px; }
  body .wrapper .eachProject {
    text-align: center; }
    body .wrapper .eachProject .image {
      position: relative;
      width: 100%; }
      body .wrapper .eachProject .image .projectImage {
        width: 100%;
        transition: all 0.5s ease-in; }
      body .wrapper .eachProject .image .hiddenH3 {
        display: none;
        position: absolute;
        border-radius: 5px;
        top: 50%;
        width: 80%;
        font-size: 3em;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -24px;
        background-color: #1E81B4;
        border: 1px solid #1E81B4;
        color: white; }
    body .wrapper .eachProject nav {
      font-size: 2em; }
  body #about .aboutMe {
    text-align: center; }
    body #about .aboutMe h2 {
      text-align: left; }
    body #about .aboutMe p {
      max-width: 700px;
      margin: 20px auto;
      font-size: 1.5em; }
      @media (max-width: 600px) {
        body #about .aboutMe p {
          font-size: 1em; } }
    body #about .aboutMe a {
      color: #fff;
      font-size: 1.5em;
      font-weight: normal;
      text-decoration: none; }
      body #about .aboutMe a button {
        transition: all 0.3s ease-in;
        background-color: #1E81B4;
        border: 1px solid #1E81B4;
        margin-bottom: 30px;
        padding: 15px; }
        body #about .aboutMe a button span {
          margin-left: 20px; }
    body #about .aboutMe button:hover {
      transition: all 0.3s ease-in;
      background-color: #2c3e50;
      border: 1px solid #2c3e50; }
  body .print {
    font-size: 3em;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px; }
    body .print button {
      padding: 10px;
      background-color: #1E81B4;
      border: 1px solid #1E81B4;
      color: white;
      transition: all 0.3s ease-in; }
    body .print button:hover {
      transition: all 0.3s ease-in;
      background-color: #2c3e50;
      border: 1px solid #2c3e50; }
  body .WordSection1 {
    max-width: 700px;
    margin: 20px auto; }
    body .WordSection1 h2 {
      text-align: center;
      font-size: 3em; }
    body .WordSection1 h3 {
      text-align: center;
      margin-top: 0px;
      color: black;
      font-size: 1em; }
  body footer {
    text-align: center; }
    body footer .mainContact {
      font-size: 1.5em; }

.coolEffect {
  transition: all 0.5s ease-in;
  opacity: 0.4; }
